<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PointOfSaleSystem.Properties.Settings.PointOfSaleConString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;B:\Users\Simon Dolby\Source\Repos\PointOfSaleSystem\PointOfSaleSystem\PointOfSaleSystem\ShopDatabase.mdf&quot;;Integrated Security=True" />
        <add name="PointOfSaleSystem.Properties.Settings.ShopDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ShopDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>